## ./build.py - External resources
data/

## ./build.py - Working path
tmp_out/

## ./build.py - output
nethunter-*.zip

## ./bootstrap.sh - https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernels
kernels

## ./generate-release.py - output
release-*.sh

## Python virtual environments
.env/

## OS - macOS
.DS_Store
